In [1]:
import pandas as pd

In [11]:
a = [-1, -2, 2, 1, 3, -3, -2]

In [12]:
df = pd.DataFrame(a, columns=['A'])

In [13]:
df

   A
0 -1
1 -2
2  2
3  1
4  3
5 -3
6 -2

In [14]:
df['B'] = df['A'].pct_change()

In [15]:
df

   A         B
0 -1       NaN
1 -2  1.000000
2  2 -2.000000
3  1 -0.500000
4  3  2.000000
5 -3 -2.000000
6 -2 -0.333333