In [26]:
import sys
import os
sys.path.append(os.path.abspath(os.path.join('..','..')))
from DB import conn
import pandas as pd

In [27]:
def select_code(code):
    query = f'''
        select a.GSTC_CODE, a.STC_NAME
          from TB_STOCKCLASSIFY a
         where a.KSTC_CODE = '{code}'
        '''
    
    try:
        conn.global_cursor.execute(query)
        columns = [column[0] for column in conn.global_cursor.description]
        data = conn.global_cursor.fetchall()
        df = pd.DataFrame(data, columns=columns)
        return df
    except Exception as e:
        print(f'select 중 오류 발생: {e}')

In [28]:
def select_stock_data(gstc_code):
    query = f'''
        select *
          from TB_MINSSTOCK a
         where a.GSTC_CODE = '{gstc_code}'
         order by a.stck_bsop_date asc, a.stck_cntg_hour asc
        '''
    try:
        conn.global_cursor.execute(query)
        columns = [column[0] for column in conn.global_cursor.description]
        data = conn.global_cursor.fetchall()
        df = pd.DataFrame(data, columns=columns)
        return df
    except Exception as e:
        print(f'error on selecting stock_data : {e}')

In [29]:
name_list = ['005930']

In [30]:
data = []
conn.connect_to_database()
for name in name_list:
    select_code(name)
conn.close_database_connection()

MariaDB 서버에 성공적으로 연결되었습니다. 서버 버전: 10.4.34-MariaDB
현재 사용 중인 데이터베이스: cryptoStockTrading
MariaDB 연결이 종료되었습니다.

In [31]:
data = []
conn.connect_to_database()
for name in name_list:
    data.append(select_code(name))
conn.close_database_connection()

MariaDB 서버에 성공적으로 연결되었습니다. 서버 버전: 10.4.34-MariaDB
현재 사용 중인 데이터베이스: cryptoStockTrading
MariaDB 연결이 종료되었습니다.

In [32]:
gstc_codes = data[0]['GSTC_CODE']
stc_names = data[0]['STC_NAME']

In [33]:
gstc_codes, stc_names

(0    KR7005930003
 Name: GSTC_CODE, dtype: object,
 0    삼성전자
 Name: STC_NAME, dtype: object)

In [34]:
print(gstc_codes)

0    KR7005930003
Name: GSTC_CODE, dtype: object

In [35]:
conn.connect_to_database()
stock_datas = []
for gstc_code in gstc_codes:
    stock_datas.append(select_stock_data(gstc_code))
conn.close_database_connection()

MariaDB 서버에 성공적으로 연결되었습니다. 서버 버전: 10.4.34-MariaDB
현재 사용 중인 데이터베이스: cryptoStockTrading
MariaDB 연결이 종료되었습니다.

In [36]:
stock_datas

[           GSTC_CODE INVEST_CODE PRDY_VRSS PRDY_VRSS_SIGN PRDY_CTRT  \
 0       KR7005930003          01      None           None      None
 1       KR7005930003          01      None           None      None
 2       KR7005930003          01      None           None      None
 3       KR7005930003          01      None           None      None
 4       KR7005930003          01      None           None      None
 ...              ...         ...       ...            ...       ...
 196219  KR7005930003          01     -1000              5     -1.43
 196220  KR7005930003          01     -1000              5     -1.43
 196221  KR7005930003          01     -1000              5     -1.43
 196222  KR7005930003          01     -1000              5     -1.43
 196223  KR7005930003          01     -1000              5     -1.43

        STCK_PRDY_CLPR  ACML_VOL   ACML_TR_PBMN STCK_PRPR STCK_BSOP_DATE  \
 0                None      None           None     61100       20220802
 1                None      None           None     61200       20220802
 2                None      None           None     61200       20220802
 3                None      None           None     61600       20220802
 4                None      None           None     61500       20220802
 ...               ...       ...            ...       ...            ...
 196219          70000  23603401  1641039126600     69100       20240905
 196220          70000  23603401  1652002666900     69000       20240905
 196221          70000  25329974  1652002666900     69000       20240905
 196222          70000  25329974  1652002666900     69000       20240905
 196223          70000  25329974  1771136203900     69000       20240905

        STCK_CNTG_HOUR STCK_OPRC STCK_HGPR STCK_LWPR CNTG_VOL  \
 0              090100     61200     61200     61100   473341
 1              090200     61200     61200     61000   206838
 2              090300     61200     61300     61100   169028
 3              090400     61200     61700     61200   358663
 4              090500     61600     61600     61300   190364
 ...               ...       ...       ...       ...      ...
 196219         152600     69100     69100     69100        0
 196220         152700     69000     69200     69000   158759
 196221         152800     69000     69000     69000        0
 196222         152900     69000     69000     69000        0
 196223         153000     69000     69000     69000  1726573

                 INSERTDATE
 0      2022-08-03 00:00:00
 1      2022-08-03 00:00:00
 2      2022-08-03 00:00:00
 3      2022-08-03 00:00:00
 4      2022-08-03 00:00:00
 ...                    ...
 196219 2024-09-05 15:27:45
 196220 2024-09-05 15:27:45
 196221 2024-09-05 15:30:46
 196222 2024-09-05 15:30:46
 196223 2024-09-05 15:30:46

 [196224 rows x 16 columns]]

In [37]:
for i in range(len(stc_names)):
    stock_datas[i].to_csv(f'./data/{stc_names[i]}.csv', index=False)

In [38]:
stock_datas[0].head(5)

,GSTC_CODE,INVEST_CODE,PRDY_VRSS,PRDY_VRSS_SIGN,PRDY_CTRT,STCK_PRDY_CLPR,ACML_VOL,ACML_TR_PBMN,STCK_PRPR,STCK_BSOP_DATE,STCK_CNTG_HOUR,STCK_OPRC,STCK_HGPR,STCK_LWPR,CNTG_VOL,INSERTDATE
0,KR7005930003,01,None,None,None,None,None,None,61100,20220802,090100,61200,61200,61100,473341,2022-08-03
1,KR7005930003,01,None,None,None,None,None,None,61200,20220802,090200,61200,61200,61000,206838,2022-08-03
2,KR7005930003,01,None,None,None,None,None,None,61200,20220802,090300,61200,61300,61100,169028,2022-08-03
3,KR7005930003,01,None,None,None,None,None,None,61600,20220802,090400,61200,61700,61200,358663,2022-08-03
4,KR7005930003,01,None,None,None,None,None,None,61500,20220802,090500,61600,61600,61300,190364,2022-08-03